.footer{
    background-color: $color-grey-3;
    border-top: 1px solid $color-blue-2;
    border-bottom: 1px solid $color-blue-2;
    padding: $spacer-4 0;

    &__footer-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__disclaimer{
        padding: 0 $spacer-3;
        font-size: 16px;
        font-weight: $font-medium;
        position: relative;
        &::after{
            position: absolute;
            right: 0;
            top: 0;
            width: 2px;
            height: 100%;
            content: "";
            background-color: $color-blue-2;
        }
        a{
            background: linear-gradient(90deg,#001a4d,#0055ff);
            background-clip: text;
            color: transparent;
        }
    }
    &__copyright{
        background: linear-gradient(90deg,#001a4d,#0055ff);
        background-clip: text;
        color: transparent;
        padding: 0 $spacer-3;
        font-size: 16px;
        font-weight: $font-medium;
        position: relative;
        &::after{
            position: absolute;
            right: 0;
            top: 0;
            width: 2px;
            height: 100%;
            content: "";
            background-color: $color-blue-2;
        }
    }
    &__social-media-icons{
        display: flex;
        // align-items: center;
        // color: $color-blue-2;
        padding: 0 $spacer-3;
        &__svg{
            fill: $color-blue;
            width: 24px;
            transform: translateY(-1px);
            &:hover{
                fill: $color-blue-2;
                scale: 1.1;
            }
        }
    }
}

.offcanvas-bottom{
    height: 38vh;
}
.offcanvas-title{
    font-weight: $font-medium;
    font-size: $spacer-4;
}
.off-desc{
    font-size: 18px;
    font-weight: $font-regular;
}

@include mobile{
    .footer{
        padding: $spacer-3 0;
        &__footer-flex{
            // flex-wrap: wrap;
            flex-direction: column;
        }
        &__disclaimer{
            padding-bottom: $spacer-2;
            &::after{
                all: unset;
            }
        }
        &__copyright{
            padding-bottom: $spacer-2;
            &::after{
                all: unset;
            }
        }
        &__social-media-icons{
            padding-bottom:$spacer-2;
            &__svg{
                width: 24px;
                transform: none;
            }
        }
    }
}