.reviews{
    padding: $spacer-4 0;
    background-color: $color-white;

    &__main-head{
        font-size: $spacer-4;
        font-weight: $font-bold;
        background-image: linear-gradient(90deg,#001a4d,#0055ff);
        background-clip: text;
        color: transparent;
        &--sub-head{
            font-size: 19px;
            font-weight: $font-light;
            margin-top: $spacer-1;
        }
    }

    &__review-head{
        font-size: 18px;
        font-weight: $font-bold;
        margin-bottom: $spacer-1;
    }
    &__review-desc{
        font-size: 15px;
        margin-bottom: $spacer-1;
        font-style: italic;
        font-weight: $font-regular;
    }
    &__review-person{
        font-size: 13px;
        font-style: italic;
        font-weight: $font-regular;
    }

    .bi-star-fill, .bi-star-half, .bi-star{
        color: $color-green-2;
    }

    .list-group-item{
        border-radius: $spacer-4;
        &:hover{
            scale: 1.03;
            box-shadow: 2px 2px 5px $color-grey-2;
        }
    }
}