.services{
    padding: $spacer-4 0;
    background-color: $color-white;

    &__main-head{
        font-size: $spacer-5;
        font-weight: $font-bold;
        background: linear-gradient(90deg,#001a4d,#0055ff);
        background-clip: text;
        color: transparent;
    }
    &__sub-head{
        font-size: 20px;
        font-weight: $font-medium;
        margin-top: $spacer-2;
        background: linear-gradient(90deg,#001a4d,#0055ff);
        background-clip: text;
        color: transparent;
    }

    .card{
        padding: $spacer-0;
        box-shadow: 2px 2px 3px $color-grey-2;
        border-radius: 20px;
        &:hover{
            scale: 1.05;
        }
    }
    .list-group-item{
        background-image: linear-gradient(90deg,#001a4d,#0055ff);
        background-clip: text;
        color: transparent;
        font-weight: $font-bolder;
    }
}