.services{
    padding: $spacer-4 0;
    background-color: $color-white;

    &__main-head{
        font-size: $spacer-5;
        font-weight: $font-bold;
        background: linear-gradient(90deg,#001a4d,#0055ff);
        background-clip: text;
        color: transparent;
    }
    &__sub-head{
        font-size: 20px;
        font-weight: $font-medium;
        margin-top: $spacer-2;
        background: linear-gradient(90deg,#001a4d,#0055ff);
        background-clip: text;
        color: transparent;
    }
    &__btn-tickets{
        position: relative;
        bottom: -62px;
    }
    .card{
        padding: $spacer-0;
        box-shadow: 2px 2px 3px $color-grey-2;
        border-radius: 8px;
        margin: $spacer-3 $spacer-2;
        min-height: 27rem;
        &:hover{
            scale: 1.05;
        }
    }
    .list-group-item{
        cursor: pointer;
        background-image: linear-gradient(90deg,#001a4d,#0055ff);
        background-clip: text;
        color: transparent;
        font-weight: $font-semi-bold;
    }
    .row{
        justify-content: center;
        align-items: center;
    }
    .card-img-top{
        min-height: 200px;
        max-height: 200px;
    }
    .btn{
        display: none; //flex
        border-radius: 2.3rem;
        width: 130px;
        min-width: 100px;
        height: 45px;
        font-weight: $font-bold;
        align-items: center;
        justify-content: center;
        padding: $spacer-0 $spacer-3;
        color: $color-blue-2;
        border: 1px solid $color-blue-2;
        margin: auto;
        position: relative;
        top: 50px;
        &:hover{
            scale: 1.1;
            background-image: linear-gradient(90deg,#001a4d,#0055ff);
            color: $color-white;
            border: 1px solid $color-white;
            font-weight: $font-medium;
            box-shadow: 1px 2px 5px $color-blue-2;
        }
    }
    .card-body{
        &:hover{
            .list-group{
                display: none;
            }
            .btn{
                display: flex;
            }
        }
    }
}

@include mobile-tablet{
    .services{
        .card-img-top{
            min-height: unset;
            max-height: unset;
        }
        .btn{
            display: flex;
            position: static;
        }
        .card-body{
            &:hover{
                .list-group{
                    display: block;
                }
            }
        }
    }
}
@media (min-width: 768px) and (max-width: 991.8px){
    .services{
        .card-img-top{
            min-height: 200px;
            max-height: 200px;
        }
        .btn{
            display: none;
            // position: relative;
        }
        .card-body{
            &:hover{
                .list-group{
                    display: none;
                }
            }
        }
    }
}
@media (min-width: 601px) and (max-width: 767.9px){
    .services{
        .card{
            width: 40%;
            min-height: 29rem;
        }
        .card-img-top{
            min-height: 200px;
            max-height: 200px;
        }
    }
}
@media (min-width :992px){
    .services{
        &__btn-tickets{
            position: unset;
        }
    }
}
@include mobile{
    .services{
        &__btn-tickets{
            position: unset;
        }
    }
}